@import "./reset.less";
body {
    background-color: #333;
    color: #ccc;
    font-size: 10rem;
}
.container {
    display: flex;
        align-items: center;
        justify-content: center;
    height: 100vh;
    width: 100vw;
}
.clock {
    display: flex;
    align-items: center;
}
li {
    text-align: right;
}
li.current,
ul:nth-of-type(even) {
    color: #0088ff;
}